{{ define "project-microbiome-path" }}
    {{ template "panel-projects-path" . }}
	<a class="clickable">microbiome</a>
	<p>/</p>
{{ end }}

{{define "project-microbiome"}}
	<div class="nav-bars" id="nav-path" hx-swap-oob="true">
		<div id="nav-path-text">
			{{ template "project-microbiome-path" .}}
		</div>		
	</div>
	
	<div id="nav-content" hx-history-elt>
		<!-- <h1>microbiome</h1> -->
		<video playsinline autoplay loop muted>
			<source src="/static/video/projects/microbiome_demo.webm" type="video/webm" />
			<source src="/static/video/projects/microbiome_demo.mp4" type="video/mp4" />		
		</video>
	</div>
{{end}}

<!-- do this so we can import this directly in our POST requests -->
{{ template "project-microbiome" .}}