{{ define "project-ceeder-path" }}
    {{ template "panel-projects-path" . }}
	<a class="clickable">ceeder</a>
	<p>/</p>
{{ end }}

{{define "project-ceeder"}}
<style>
	#ceeder-iframe {
		width: 800px;
		height: 470px;
	}

	#ceeder-iframe-div {
		text-align: center;
	}
</style>

	<div class="nav-bars" id="nav-path" hx-swap-oob="true">
		<div id="nav-path-text">
			{{ template "project-ceeder-path" .}}
		</div>		
	</div>
	
	<div id="nav-content" hx-history-elt>
		<h1>a virutal interstellar zen-garden</h1>

		<figure id="ceeder-iframe-div">
			<iframe id="ceeder-iframe" src="https://dsmaugy.github.io/ceeder/"></iframe>
			<figcaption>CEEDER Window</figcaption>
		</figure>

		<h2>procedurally generated flowers</h2>
		<p>more info in writeup</p>
		<br>
		<a href="https://dsmaugy.github.io/ceeder/" target="_blank">full link</a><br>
		<a href="https://github.com/dsmaugy/ceeder" target="_blank">source</a><br>
		<a href="/static/other/ceeder_writeup.pdf" target="_blank">writeup</a><br>

		<br>
		<p>Created as a final project for CPSC478: Computer Graphics</p>
		<p>Taught by Professor Julie Dorsey</p>
		<p>Collaboration with 
			<a href="https://www.linkedin.com/in/jack-l-7008601ba/" target="_blank">Jack Li</a>
			<a href="https://samanthatrimboli.com/" target="_blank">Samantha Trimboli</a>
			<a href="https://www.linkedin.com/in/raffael-davila/" target="_blank">Raffael Davila</a>
		</p>
		<p>Built with JavaScript and Three.JS</p>
		<p class="project-date">Spring 2023</p>
	</div>
{{end}}

<!-- do this so we can import this directly in our requests -->
{{ template "project-ceeder" .}}