{{ define "project-sonderful-path" }}
    {{ template "panel-projects-path" . }}
	<a class="clickable">sonderful_transmissions</a>
	<p>/</p>
{{ end }}

{{define "project-sonderful"}}
	<div class="nav-bars" id="nav-path" hx-swap-oob="true">
		<div id="nav-path-text">
			{{ template "project-sonderful-path" .}}
		</div>		
	</div>
	
	<div id="nav-content" hx-history-elt>
		<style>
			.sonderful-images {
				display: flex;
				flex-flow: row;
				align-content: start;
			}
		
			.sonderful-images figure {
				max-width: 400px;
				margin: 0 auto 0 auto;
			}
		
			.sonderful-images figure img {
				width: 100%;
			}
		
			.sonderful-images-full {
				text-align: center;
			}
		
			#sonderful-long-figure {
				max-height: 350px;
				text-align: center;
			}
		
			#sonderful-long-figure > img {
				height: calc(100% - 2em); /* try to make the height smaller than the height of the figure + caption */
				width: auto;
			}
		</style>
		<h1>Sonderful Transmissions is about encryption, communication, meaning</h1>
		<figure class="centered">
			<video playsinline autoplay loop muted>
				<source src="/static/video/projects/sonderfultransmissions_demo.webm" type="video/webm" />
				<source src="/static/video/projects/sonderfultransmissions_demo.mp4" type="video/mp4" />		
			</video>
			<figcaption>Decoding a message</figcaption>
		</figure>

		<h2>sonder</h2>
		<p>
			Coined by writer John Koenig in the Dictionary of Obsure Sorrows, “sonder” is the realization that each random passerby is the main character of their own story, 
			living a life just as vivid and complex as your own. “Sonderful Transmissions” explores this concept through the act of sending and receiving messages to/from outerspace.
		</p>

		<h2>communicating</h2>
		<p>
			Users are able to send messages to a point within a starfield with their own encoding parameters. 
			In order to receive and decode previously transmitted messages, one has to emulate the exact encoding configuration on the transmission device in order to properly capture and translate the message. 
			If the encoding parameters do not match the ones used during transmission, the message is garbled and the meaning is lost.
		</p>

		<br>
		<div class="sonderful-images">
			<figure>
				<img src="/static/images/projects/sonderful_backdrop.webp">
				<figcaption>navigable starfield</figcaption>
			</figure>
			<figure>
				<img src="/static/images/projects/sonderful_transmit.webp">
				<figcaption>message transmission prompt</figcaption>
			</figure>
			<figure>
				<img src="/static/images/projects/sonderful_receive.webp">
				<figcaption>message decoding screen</figcaption>
			</figure>
		</div>

		<h2>transmission device</h2>
		<p>The physical transmission device contains adjustable sensors (push buttons, distance sensor, potentiometer)
			that correspond to different transmission parameters in the installation (encoding method, signal attenuation, signal frequency).
		</p>
		<br>
		<div class="sonderful-images">
			<figure>
				<img src="/static/images/projects/sonderful_device.webp">
				<figcaption>transmission device with adjustable encoding parameters</figcaption>
			</figure>
			<figure>
				<img src="/static/images/projects/sonderful_device_2.webp">
				<figcaption>transmission device internals</figcaption>
			</figure>
		</div>
		<h2>physical message receipts</h2>
		<p>Upon succesfully decoding a message, users can obtain a physical certificate of the decoded transmission, transcribing the encoded digital message into a permanent, human-readable form.</p>
		<br>
		<div class="sonderful-images">
			<figure id="sonderful-long-figure">
				<img src="/static/images/projects/sonderful_receipt_0.webp">
				<figcaption>transmission of an excerpt from <a href="https://www.are.na/editorial/on-motivation" target="_blank">Charles Broskoski</a></figcaption>
			</figure>
			<figure id="sonderful-long-figure">
				<img src="/static/images/projects/sonderful_receipt_1.webp">
				<figcaption>transmission of a YouTube video comment</figcaption>
			</figure>
		</div>

		<h2>final</h2>
		<div class="sonderful-images-full">
			<figure>
				<img src="/static/images/projects/sonderful_full.webp">
				<figcaption>full installation setup</figcaption>
			</figure>
		</div>

		<br>
		<a href="https://github.com/dsmaugy/cpsc334/tree/main/final" target="_blank">source</a> 

		<br>
		<p>Created as part of CPSC334: Creative Embedded Systems</p>
		<p>Taught by <a href="https://www.scottericpetersen.com/" target="_blank">Dr. Scott Petersen</a></p>
		<p>Built with Processing and ESP32s</p>
		<p class="project-date">Fall 2023</p>
	</div>
{{end}}

<!-- do this so we can import this directly in our requests -->
{{ template "project-sonderful" .}}