.linegraph-container {
    display: none;
}

.tooltip {
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 120px;
    height: 33px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.date-form-group {
    text-align: center;
}

.date-form-group h3 {
    text-align: center;
    display: inline;
}

.date-form-group select {
    display: inline;
    width: 6rem;
    text-align: center;
}

.form-control {
    border-radius: 6px;
    background-color: #DE9F40 !important;
    outline: 0;
    border: 1px solid crimson;
}

.form-control option {
    background-color: #DE9F40;
    border-radius: 3px;
}

.linegraph {
    margin-bottom: 5em;
}

.lg-legend {
    fill: #FCE06F;
    rx: 5px;
    ry: 5px;
}

.label-txt {
    text-anchor: left;
    text-align: center;
    font-size: 1em;
}

.label-bg {
    fill: #736D55;
}

.lglabel {
    fill: black;
    font-size: large;
}

.lg-ylabel {
    transform: rotate(-90deg);
    text-anchor: middle;
}

.infobox-rect {
    fill: #DE9F40;
    rx: 5px;
    ry: 5px;
}

.infobox-title {
    text-anchor: middle;
}

.infobox-title-date {
    font-weight: bold;
}

.infobox-text {
    text-anchor: start;
    text-align: left;
}

.infobox-time {
    font-weight: bold;
}


/* TODO: find final color for tooltip */