.person-form-group {
    text-align: center;
}

.person-form-group h3 {
    text-align: center;
    display: inline;
}

.person-form-group select {
    display: inline;
    width: 10rem;
    text-align: center;
}

.personstats {
    margin-top: 5rem;
}