{{ define "panel-vinyl-path" }}
    {{ template "panel-home-path" . }}
	<p>vinyl_collection</p>
	<p>/</p>
{{ end }}

{{define "panel-vinyl"}}
<div id="content-to-swap">
	<div id="nav-path">
		<div id="nav-path-text">
			{{ template "panel-vinyl-path" .}}
		</div>		
	</div>
	
	<div id="nav-content">
		<h1>vinyl collection</h1>
        <div id="vinyl-showcase">
			{{ range $vinyl := .Vinyls }}
				<div class="vinyl-item" onmouseenter="carouselItemEntered(this)" onmouseleave="carouselItemLeft(this)">
					<img src="{{ $vinyl.PreviewImage }}">
					<p>{{ $vinyl.Artist }} - {{ $vinyl.Name }} ({{ $vinyl.Year }})</p>
					<div class="carousel-tooltip">						
						<p>
							Obtained in {{ $vinyl.DateAddedToCollection }}
						</p>
					</div>
				</div>
			{{end}}
		</div>
	</div>
</div>
{{end}}

<!-- do this so we can import this directly in our POST requests -->
{{ template "panel-vinyl" .}}