<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1" />

        <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<!-- <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet"> -->
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

		<title>Darwin Do</title>
		<link rel="stylesheet" href="/static/css/main.css"> 
		<script src="/static/js/main.js"></script>

	</head>

	<body>
		<main>
			<div class="container">
				<div id="left-panel" class="container-panels">
					<div id="left-panel-introduction">
						<h1 id="left-panel-name">darwins.cloud</h1>
						<p>he does bingus activities</p>
						<p>this is true</p>
					</div>

					<div id="left-panel-tooltip">
					</div>

					<div id="left-panel-footer">
                        <a>resume</a>
                        <a>linkedin</a>
                        <a>email</a>
                    </div>
				</div>
				<div id="right-panel" class="container-panels">
					<div id="right-panel-inner">
						{{ template "panel-home" . }}

						<div class="nav-bars" id="nav-footer">
							<p>thank you to kerokerobonito</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
