<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Darwin Do</title>

		<link rel="stylesheet" href="/static/css/main.css"> 
	</head>

	<body>
		<main>
			<div class="container">
				<div id="left-panel" class="container-panels">
					<h1>darwin is a bingus</h1>
					<p>he does bingus activities</p>
					<p>this is true</p>
				</div>
				<div id="right-panel" class="container-panels">
					<div id="panel-inner">
						<div id="nav-path">
							<p>bingus</p>
							<p>/</p>
							<p>bongus</p>
							<p>/</p>
						</div>

						<h1>some projects</h1>
							<div class="carousel-showcase">

							</div>
						<h1>vinyl collection</h1>
							{{ template "carousel-vinyl" .}}
						<h1>some songs</h1>
							{{ template "carousel-songs" .}}
						<h1>some movies</h1>
							{{ template "carousel-movies" .}}
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
