

body {
    display: block;
    margin: 0;
}

html, body, main {
    height: 100%;
    overflow-y: hidden;
}

p {
    margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    /* margin-top: 0.67em;
    margin-bottom: 0.67em; */
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.container-panels {
    flex-wrap: wrap;
}

.carousel-showcase {
    display: flex;
    flex-wrap: wrap;
}

.carousel-item {
    flex: 2;
    opacity: 1;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.carousel-item img {
    width: 150px;
}

.carousel-spotify-pic {
    border-radius: 40%;
}

.carousel-vinyl-pic {
    border-radius: 50%;
}

.carousel-item:last-child {
    flex: 1;
    align-self: center;
}

.carousel-item:hover {
    opacity: 0.6;
    /* cursor: pointer; */
}

.carousel-tooltip {
    display: none;
}

/* TODO: do we want this? */
#vinyl-ellipse {
    padding-bottom: 75px;
}

#left-panel {
    background:lightblue;
    flex: 1 20em;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    background-image: url("/static/images/ditherduck.jpg");
    background-position: left 0px bottom -300px;
    background-blend-mode: overlay;
}

#left-panel p, #left-panel a, #left-panel h1 {
    background-color: white;
}

#left-panel-footer {
    margin-top: auto;
    margin-bottom: 1em;
}

#left-panel-footer a {
    display: block;
    text-align: center;
}

#left-panel-name {
    display: inline-block;
}

#right-panel {
    background: #E9FFFF;
    flex: 20;
    /* padding: 1em; */
    /* overflow-y: scroll; */
    height: 100%;
}

#right-panel-inner {
    border: solid;
    border-radius: 1% 1% 0% 1%;
    box-sizing: border-box;
    padding: 1em 0em 1.46em 1em;
    margin: 1em;
    height: calc(100vh - 2em);
}

#nav-path {
    border-bottom: solid;
}

#nav-path-text {
    display: inline-block;
    background-color: aqua;
}

#nav-path p, #nav-path a {
    margin: 0;
    display: inline;
    margin-right: 10px;
}

#nav-content {
    overflow-y: scroll;
    height: 100%
}

#content-to-swap.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

#vinyl-showcase {
    display: flex;
    flex-wrap: wrap;
}

.vinyl-item{
    flex: 2;
    opacity: 1;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.vinyl-item img {
    width: 170px;
    border-radius: 50%;
}