.body .links {
    margin-bottom: 65px;
    margin-top: -30px;
}

.body .links .row .col {
    text-align: center;
}

.song-bar {
    width: 100%;
    /* text-align: center; */
    margin-top: 80px;
    overflow: hidden;
}

.movie-bar {
    width: 100%;
    /* text-align: center; */
    margin-top: 50px;
    /* margin-bottom: 80px; */
    overflow: hidden;
}

.song-bar img {
    width: 90px;
    height: 90px;
    display: inline;
    float: left;
    border-radius: 50%;
}

.tooltip.top {
    bottom: 50em;
}

.song-bar img:hover {
    filter: brightness(50%)
}

.spotify-image-overlay {
    display: inline-block;
    position: relative;
}

.play-toggle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 33px;
    font-size: 1.5em;
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #1ED05E;
}

.play-toggle:hover {
    opacity: 1;
}

.img-container {
    position: relative;
    display: block;
}

.movie-bar img {
    float: left;
    width: 100px;
    height: 150px;
    display: inline;
    margin-top: 20px;
}

.blurb {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

#recent-info {
    font-size: 0.3em;
    vertical-align: top;
}

#song-bar-title {
    color: #DB5E4F;
}

p a {
    font-size: inherit;
    font-family: inherit;
}