/* html {
    background-image: radial-gradient(#000 10%, transparent 10%);
    background-size: 3px 3px;
    background-color: #EEE;
} */

html {
    /* background-color: #FDFAF8; */
    background-color: #fffaed;
}