html {
    background-color: #fffaed;
    /* Tooltip top position is glitchy */
    /* height: 100%; */
}

body {
    background-color: #fffaed;
}

a:link {
    color: #4392F7;
}

a:visited {
    color: #DB5E4F;
}

#main-container {
    max-width: 50%;
    margin: auto;
}

.header-header {
    margin-top: 45px;
}

.name-header {
    text-align: right;
}

.name-header h1 {
    font-size: 2.5em;
    font-weight: 600;
    font-family: 'Noto Sans JP', sans-serif;
}

.name-header h2 {
    font-weight: 200;
    font-size: 2em;
    font-family: 'Noto Sans JP', sans-serif;
}

.image-header img {
    border-radius: 50%;
    height: 170px;
}

.body p {
    font-size: 1.5em;
    font-weight: 200;
    font-family: 'Noto Sans JP', sans-serif;
}

.body .links {
    margin: 30px auto;
    font-size: 0.7em;
    /* font-style: italic; */
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.body .links .row .col {
    text-align: center;
}

.links a {
    font-size: 1.5em;
}


.song-bar {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    overflow: hidden;
}

.movie-bar {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    overflow: hidden;
}

.song-bar img {
    width: 90px;
    height: 90px;
    display: inline;
    float: left;
    border-radius: 50%;
}

.tooltip.top {
    bottom: 50em;
}

.song-bar img:hover {
    filter: brightness(50%)
}

.spotify-image-overlay {
    display: inline-block;
    position: relative;
}

.play-toggle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 33px;
    font-size: 1.5em;
    opacity: 0;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #1ED05E;
}

.play-toggle:hover {
    opacity: 1;
}


.img-container {
    position: relative;
    display: block;
}
  
.movie-bar img {
    float: left;
    width: 100px;
    height: 150px;
    display: inline;
    margin-top: 20px;
}
