html {
    background-color: #fffaed;
}

body {
    background-color: #fffaed;
    margin: 45px auto;
}

a {
    font-size: 1.5em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

a:link {
    color: #DB5E4F;
}

a:visited {
    color: #DB5E4F;
    /* color: #4392F7; */
}

a:hover {
    color: #4392F7;
}

.name-header a {
    text-decoration: none;
    font-size: inherit;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    font-family: 'Noto Sans JP', sans-serif;
    color: #3A52FB;
}

h2 {
    font-weight: 200;
    font-size: 2em;
    font-family: 'Noto Sans JP', sans-serif;
}

#header-container {
    margin-bottom: 5rem;
}

#main-container {
    margin: auto;
}

@media (min-width: 992px) {
    #main-container {
        max-width: 50%;
    }
    #header-container {
        max-width: 50%;
    }
}

.name-header {
    text-align: right;
}

.image-header img {
    border-radius: 50%;
    height: 210px;
}