{{define "carousel-vinyl"}}
<div class="carousel-showcase">
    {{ range $vinyl := .Vinyls }}
        <div class="carousel-item" onmouseenter="carouselItemEntered(this)" onmouseleave="carouselItemLeft(this)">
            <img src="{{ $vinyl.PreviewImage }}">
            <!-- <p>{{ $vinyl.Artist }} - {{ $vinyl.Name }} ({{ $vinyl.Year }})</p> -->
            <div class="carousel-tooltip">
                <p>
                    {{ $vinyl.Artist }} - {{ $vinyl.Name }} ({{ $vinyl.Year }})
                </p>
                
                <p>
                    Obtained in {{ $vinyl.DateAddedToCollection }}
                </p>
            </div>
        </div>
    {{end}}

    <div id="vinyl-ellipse" class="carousel-item">
        <a>
            <h1>...</h1>
        </a>
    </div>
</div>
{{end}}