{% extends "base.html.j2" %}
{% block title %} Crossword Data - {% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crossword/general_chart.css') }}"> 
    <script src="https://d3js.org/d3.v7.min.js"></script>
{% endblock %}

{% block header_header%} 
    <div class="header-title">
        <h1>crossword history</h1>
        <h2>a timeline for our crosswords ;)</h2>
    </div>
{% endblock %}

{% block body %}
    <div class="container"> 
        <div class="row">
            <div class="col justify-content-center">
              <div class="date-form-group">
                <h3>looking at data from: </h3>
                <select class="form-control" id="input-lg">
                    <option value="all">all time</option>
                    <option value="3day">3 days</option>
                    <option value="1week" selected>1 week</option>
                    <option value="2week">2 weeks</option>
                    <option value="1month">1 month</option>
                </select>
            </div>
        </div>
        </div>
        <div class="row">

            <div class="col d-flex justify-content-center">
                <div class="linegraph"></div>
                <script type="module" src="{{ url_for('static', filename='js/crossword/general_chart_viz.js') }}"> </script>            
            </div>
        </div>

        {# <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="weekgraph"></div>
                <script type="module" src="{{ url_for('static', filename='js/crossword/weekday_viz.js') }}"> </script>            
            </div>
        </div> #}
    </div>

    <div id="tooltip"></div>
{% endblock %}