{% extends "base.html.j2" %}
{% block title %} Projects - {% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crossword.css') }}"> 
    <script src="https://d3js.org/d3.v7.min.js"></script>
{% endblock %}

{% block header_header%} 
    <div class="header-title">
        <h1>crossword history</h1>
        <h2>a timeline for our crosswords ;)</h2>
    </div>
{% endblock %}

{% block body %}
    <div class="container"> 
        <div class="row">
            <div class="col d-flex justify-content-center">

                <div class="gengraph">
                    
                </div>
                <script>
                    var LGmargin = {top: 80, right: 140, bottom: 50, left: 50},
                        LGwidth = 636 - LGmargin.left - LGmargin.right,
                        LGheight = 436 - LGmargin.top - LGmargin.bottom;

                    d3.json("/crossword_data").then(
                        (data) => {
                            data.forEach(
                                (elem) => {
                                    console.log(elem);
                                }
                            )
                        }
                    )
                </script>
            </div>
        </div>
    </div>
{% endblock %}