{% extends "base.html.j2" %}
{% block title %} Index - {% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> 
{% endblock %}


{% block body %}
    <div class="container" id="main-container">
        <div class="header-header">
            <div class="name-header">
                <h1>Darwin Do</h1>
                <h2>Computer Science at <br> Yale University</h2>

            </div>

            <div class="image-header">
                <img src="{{ url_for('static', filename='images/darwin.jpg') }}">
            </div>
        </div>

        <div class="body">

            <div class="links" class="container">
                <div class="row">
                    <div class="col">
                        <a href="mailto:darwin.do@yale.edu">email</a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/darwin-do-487231190/" target="_blank">linkedin</a>
                    </div>
                    <div class="col">
                        <a href="https://github.com/dsmaugy" target="_blank">github</a>
                    </div>
                    <div class="col">
                        <a href="https://drive.google.com/file/d/1YAk03v9I4wXVoFazskZWve8AXpABvDzD/view?usp=sharing" target="_blank">resume</a>
                    </div>
                    <div class="col">
                        <a href="{{ url_for('vinyl_collection', username='dsmaugy', perrow=4) }}">vinyl collection</a>
                    </div>
                </div>
                {# <div class="row" id="fun-bar">
                    <div class="col">
                        <a href="{{ url_for('vinyl_collection', username='dsmaugy', perrow=4) }}">vinyl collection</a>
                    </div>
                </div> #}
            </div>
            <p>Hello! I'm a sophomore studying computer science at Yale University (Class of '23+1) with a prospective certificate in Statistics & Data Science. I enjoy playing games with friends, creating Spotify playlists, and all things tech.
            </p>
            
            <div class="song-bar">
                <p>Some of my <u data-bs-toggle="tooltip" 
                                data-bs-placement="bottom" 
                                title="Random sample of top tracks this month as returned by Spotify API">recent</u><sup>*</sup> top tracks on Spotify are:</p>

                <div class="row">
                    {% for item in songs_dict %}
                        <div class="col d-flex justify-content-center">
                            <div>
                                <button class="btn btn-default" onclick="artistButtonPress('{{ item.preview_sound }}', {{ loop.index0 }})">
                                    <div class="spotify-image-overlay">
                                        <i class="bi bi-play-circle-fill play-toggle" id="play-toggle-{{ loop.index0 }}"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom" 
                                        title="{{ item['name'] }} by {{ item['artist'] }}"></i>
                                        <img src="{{ item['preview_image'] }}">
                                    </div>

                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            


            <div class="movie-bar">
                <p>And I've recently seen:</p>
                <div class="row">
                    {% for item in movies_dict %}
                        <div class="col d-flex justify-content-center">
                            <a href="{{ item['link'] }}" target="_blank">
                                <img data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"
                                title="{{ item['name'] }} ({{ item['year'] }}) <br> Rating: {{ item['rating'] }}/5.0 {% if item['verb'] == 'rewatched' %}<br>(Rewatch){% endif %}" src="{{ item['preview_image'] }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl, {
                  fallbackPlacements: ["bottom", "left"],
                  altBoundary: true
              })
            })
        </script>
        </div>
    </div>

{% endblock %}