<html>

<head>
    <title>Darwin Do</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <img src="{{ movie_avatar }}">

    <div class="leftbar">
        <p>this game sucks</p>
        <p>this is why i hate apex legends</p>
    </div>

    <div class="main">
        <p>this is why lebron is the best basketballplayer of all time</p>
        <p>it's true</p>
    </div>

    <div class="rightbar">
        <p>full stop</p>
        <p>sploingus</p>
    </div>

</body>

</html>