{% extends "base.html.j2" %}
{% block title %} Projects - {% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}"> 
{% endblock %}

{% block header_header%} 
    <div class="header-title">
        <h1>portfolio/projects</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container"> 
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card text-white bg-secondary" style="width: 24rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/justin_site.jpg') }}" alt="Card image cap">
                    <div class="card-header">The Committee to Elect Justin Tseng</div>
                    <div class="card-body">
                        <p class="card-text">I created the campaign site for the City of Medford's first Asian-American councilor, Justin Tseng.
                        The site was one of our core methods of community outreach and displaying our platform.</p>
                        <a href="https://www.justin4medford.com/en/" class="btn btn-light" target="_blank">To site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}