{% extends "base.html.j2" %}
{% block title %} Vinyl Collection - {% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vinyl.css') }}"> 
{% endblock %}

{% block header_header%} 
    <div class="header-title">
        <a href="{{ collection_url }}" target="_blank">
            <h2>{{ discogs_name }}'s Vinyl Collection</h2>
        </a>
    </div>
{% endblock %}

{% block body %}
    <div class="container" id="main-container">
        {% for c_row in collection_rows %}
            <div class="row">
                {% for record in c_row %}
                    <div class="col record-col">
                        <a href="{{ record.url }}"> 
                            <img class="img-thumbnail img-fluid" src="{{ record.preview_image }}">
                        </a>
                        <p>{{ record.artist }} - {{ record.title }} ({{ record.year }})</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}