{% extends "base.html.j2" %}
{% block title %} Vinyl Error - {% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vinyl_no_user.css') }}"> 
{% endblock %}

{% block body %}

    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <h1>User does not have a public collection, has an empty collection, or does not exist :(</h1>
    </div>


{% endblock %}